<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.himat.imguruploader</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0529D6E2-6477-46FC-8A0B-75345E6C5226</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>122B3621-EF6F-4C7F-BA8B-6E816A9BDF7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DA1E10CA-CEC7-458F-931D-57F7C7007CDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EC554064-A8D2-4A36-BB1B-37F737B97DB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4319CFA-6CA7-4B32-AC5B-D51DBD4871C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BAA36A8-D070-45A0-9445-2DEBE31386C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BE0A1C9D-81EC-4603-AC6A-644BD4AD4511</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0529D6E2-6477-46FC-8A0B-75345E6C5226</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D29F1383-ACA5-4AC9-98E1-0C7D2968BFE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F22E7175-720F-4FE5-B1EF-E5D863362C49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E9338BD-58FD-411D-A561-D051554E5A1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F22E7175-720F-4FE5-B1EF-E5D863362C49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4319CFA-6CA7-4B32-AC5B-D51DBD4871C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hima T</string>
	<key>description</key>
	<string>If the most recent item in the clipboard is an image, it is uploaded to imgur, and the URL is opened and copied to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Imgur from Clipboard Uploader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}Did not upload anything - the last clipboard item is not an image.</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>8BAA36A8-D070-45A0-9445-2DEBE31386C8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

img="$(mktemp).png"
&gt;&amp;2 echo $img
./deps/pngpaste "${img}" || exit 1 # Exit if pngpaste errored

./deps/imguru "${img}"
rm "${img}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F22E7175-720F-4FE5-B1EF-E5D863362C49</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>imgur</string>
				<key>subtext</key>
				<string>Only works if image is most recent item in clipboard</string>
				<key>text</key>
				<string>Upload latest clipboard image to imgur</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D29F1383-ACA5-4AC9-98E1-0C7D2968BFE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Error</string>
						<key>uid</key>
						<string>BE0A1C9D-81EC-4603-AC6A-644BD4AD4511</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B4319CFA-6CA7-4B32-AC5B-D51DBD4871C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>0529D6E2-6477-46FC-8A0B-75345E6C5226</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>122B3621-EF6F-4C7F-BA8B-6E816A9BDF7A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Uploading to imgur</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7E9338BD-58FD-411D-A561-D051554E5A1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied imgur URL to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DA1E10CA-CEC7-458F-931D-57F7C7007CDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EC554064-A8D2-4A36-BB1B-37F737B97DB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Uses `pngpaste` to get clibpard image
- Install with `brew install pngpaste`</string>
	<key>uidata</key>
	<dict>
		<key>0529D6E2-6477-46FC-8A0B-75345E6C5226</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>122B3621-EF6F-4C7F-BA8B-6E816A9BDF7A</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>7E9338BD-58FD-411D-A561-D051554E5A1F</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>8BAA36A8-D070-45A0-9445-2DEBE31386C8</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>B4319CFA-6CA7-4B32-AC5B-D51DBD4871C5</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>D29F1383-ACA5-4AC9-98E1-0C7D2968BFE5</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>DA1E10CA-CEC7-458F-931D-57F7C7007CDE</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>EC554064-A8D2-4A36-BB1B-37F737B97DB1</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>F22E7175-720F-4FE5-B1EF-E5D863362C49</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
